/* Общие стили для футера */
.footer {
    padding: 20px;
    border-top: 1px solid black; /* Линия над футером */
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили для контейнера контента футера */
.footer .nav-button {
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
    color: black; /* Цвет текста */
    transition: background-color 0.3s, color 0.3s;
}

.footer .nav-button:hover {
    background-color: #e9ecef; /* Цвет фона при наведении */
}
.footer .nav-button.active {
    background-color: #a4d4fc; /* Цвет фона активной кнопки */
    color: black; /* Цвет текста активной кнопки */
    border-color: black; /* Цвет границы активной кнопки */
}

.footer .nav-left,
.footer .nav-right {
    display: flex;
    gap: 10px; /* Отступы между кнопками */
    padding: 4px;
}

/* Стили для текста в футере */
.footer-text {
    margin: 0;
    color: black; /* Цвет текста */
}

.footer .nav-right {
    margin-left: auto; /* Прижимаем контейнер справа */
}